.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    margin-bottom: 80px;
}

.community__title{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #f1effc;
    cursor: pointer;
    font-weight: 500;
    margin-top: 40px;
}

.community__heading{
    font-size: 40px;
    font-weight: 400;
    margin-top: 20px;
}

.community__text{
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.community__video{
    margin-top: 30px;
    position: relative;
}

.react-player {
    top: 0;
    left: 0;
}

@media only screen and (max-width:900px) {
    .community__heading {
            font-size: 40px;
            font-weight: 400;
            margin-top: 20px;
            text-align: center;
        }
    
        .community__text {
            font-size: 20px;
            margin-top: 15px;
            text-align: center;
        }
    
        .community__video {
            margin-top: 30px;
            position: relative;
        }
    
}
